[Desktop Entry]
Name=Remix Evo - Stop Engine
Comment=Stop running Remix Evo server
Exec=/usr/bin/remix-evo stop
Icon=remix-evo
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
